<center><nav class="nav">
    <a class="nav-link active" aria-current="page" href="/menu"><h1>Menu</h1></a>
    <a class="nav-link" href="/books/add-book">Add Book</a>
    <a class="nav-link" href="/books">Show Book</a>
    <a class="nav-link" href="/books/search">Search Book</a>
    <a class="nav-link" href="/books/edit/:id">Update Book</a>
    <a class="nav-link" href="/books/delete/:id">Delete Book</a>
</nav></center>