<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <div class="navagation"><%- include('partials/nav.ejs') %></div>
    <%=JSON.stringify(data) %>
</body>
</html>